
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.4.3/plyr.css" />
  <style>
    .video-content {
      width: 1000px;
      margin: 20px auto;
    }
    .video-content video {
      width: 100%;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div class="video-content">
    <video id="player" playsinline="playsinline" poster=""></video>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/0.13.2/hls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.10/plyr.min.js"></script>
  <script>
      const video = document.querySelector('#player');
      const videoSrc = './images/hlsfiles/200422.m3u8';
      const hlsCheck = Hls.isSupported();
      const player = new Plyr(video);
      if (hlsCheck) {
        var hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function ()
        {
　　　　　//video.play();
        });
      } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
        video.addEventListener('loadedmetadata', function ()
        {
        //video.play();
    　　 });
      }
  </script>
</body>
</html>
